.dashboard_container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.createJob_btn {
  margin: 20px auto;
  font-size: 18px;
}
form.filter_form {
  margin: 0;
  margin-bottom: 20pxs;
}
