<%- include('partials/header'); -%>

  <h1>Create a job</h1>

  <form action="/createJob" method="POST">
    <label for="jobTitle">Job Title</label>
    <input type="text" name="jobTitle" required>
    <div class="jobTitle error"></div>
    <label for="company">Company</label>
    <input type="text" name="company" required>
    <div class="company error"></div>
    <label for="website">Website</label>
    <input type="text" name="website" required />
    <div class="website error"></div>
    <br />
    <h4>Employer's contact</h4>
    <br />

    <label for="employerName">Name</label>
    <input type="text" name="employerName" required />
    <div class="employerName error"></div>

    <label for="employerEmail">Email of contact</label>
    <input type="text" name="employerEmail" required />
    <div class="email error"></div>

    <label for="employerPhone">Phone</label>
    <input type="text" name="employerPhone" required />
    <div class="phone error"></div>

    <label for="employerAddress">Address</label>
    <input type="text" name="employerAddress" required />
    <div class="address error"></div>

    <label for="origin">Origin:</label>
    <select id="origin" name="origin">
      <option value="Spontaneous application">Spontaneous application</option>
      <option value="Job offer">Job offer.</option>
    </select>

    <label for="status">Status</label>
    <select id="status" name="status">
      <option value="Interested">Interested</option>
      <option value="CV sent">CV sent</option>
      <option value="Negative">Negative</option>
      <option value="Interview">Interview</option>
    </select>
    <br />
    <label for="comments">Comments</label>
    <input type="text" name="comments" required />
    <div class="comments error"></div>
    <button type="submit">Save</button>
  </form>